<md-card *ngFor="let product of products">
  <md-card-header>
    <md-card-title>{{ product.name }}</md-card-title>
    <md-card-subtitle>{{ product.brand }}</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <p>
      {{ product.description }}
    </p>
  </md-card-content>
  <md-card-actions>
    <button color="primary" md-button [routerLink]="['/singleproduct', product._id]">Više</button>
  </md-card-actions>
</md-card>
<div class="buttonAdd">
<span *ngIf="authService.loggedIn()" mdTooltip="Dodaj proizvod."><button md-fab color="primary" routerLink="/addproduct"><md-icon>add</md-icon></button></span>
</div>
