.navToolbar {
	height: 130px;
	border-bottom: 1px solid;
}
.logo {
	width: 232px;
	height: 100px;
	position: absolute;	
	top: 20px;
	left: 130px;
	background-image: url(../../../assets/logo/logo.png);
	background-repeat: no-repeat;
}

.navRight {
	position: absolute;
	right: 10%;
	top: 50px;
}
.navLeft {
	position: absolute;
	left: 25%;
	top: 50px;
}

.navList> a {
	padding: 20px;
}

