<md-toolbar class="navToolbar">
    <a routerLink="/">
        <div class="logo"></div>
    </a>
    <div class="navLeft">
        <md-nav-list class="navList">
            <a routerLink="/profile">Profil</a>
        </md-nav-list>
    </div>
    <div class="navRight">
        <md-nav-list class="navList">
            <a routerLink="/login">Uloguj se</a>
            <a (click)="onLogoutClick()" href="#">Izloguj se</a>
            <a routerLink="/register">Prijavi se</a>
        </md-nav-list>
    </div>
</md-toolbar>
