<md-card class="loginWrap">
    <div class="logo"></div>
    <h2>Molimo vas unesite vaše podatke:</h2>
    <form>
        <table class="loginForm" cellspacing="2">
            <tr>
                <md-input-container>
                    <input mdInput placeholder="Vaše korisničko ime">
                </md-input-container>
            </tr>
            <tr>
                <md-input-container>
                    <input type="password" mdInput placeholder="Vaša šifra">
                </md-input-container>
            </tr>
        </table>
        <button md-raised-button>Uloguj se</button>
    </form>
    <h4>Nemate nalog? Registrujte se <a href="">ovde.</a></h4>
</md-card>
