<md-card class="cardLogin">
    <h1>Molimo vas unesite vaše podatke:</h1>
    <form class="formWrap">
        <md-list>
            <md-list-item>
                <md-input-container>
                    <input mdInput placeholder="Korisničko ime:">
                </md-input-container>
            </md-list-item>
            <md-list-item>
                <md-input-container>
                    <input mdInput placeholder="Šifra:">
                </md-input-container>
            </md-list-item>
        </md-list>
    </form>
    <md-card-actions>
        <button md-button>Uloguj se</button>
        <h3>Nemate nalog? <a routerLink="/register">Prijavite se.</a></h3>
    </md-card-actions>
</md-card>
