@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@font-face {
    font-family: UniNeue;
    src: url(/assets/font/UniNeue-Light.otf);
}

*:not(i) {
    font-family: UniNeue;
}

a {
    text-decoration: none;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
